.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}


.board {
  margin: 0 10px;
}


.eliminated-pieces {
  width: 120px;
}

.eliminated-pieces h1 {
  font-size: 1em; 
  margin-bottom: 10px;
}


.piece {
  font-size: 2em; 
  margin-bottom: 5px; 
}

.eliminated-pieces ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.white-pieces {
  margin-right: 10px; 
}

.black-pieces {
  margin-left: 10px;
}



.piece {
  font-size: 4em; 
  margin-bottom: 10px;
}
